@use "sass:math";
@use "sass:color";

@import "_config";
@import "blocks/**/*";

//Styles
.text {
  position: relative;
  font-size: 48px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  span {
    font-style: italic;
    color: $accent;
  }
}

@import "_media";
